* {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f2e0;
  color: rgb(83, 79, 79);
}

dialog {
  border: none;
  background-color: #cdbab4;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 20vw;

  form {
    font-size: 20px;
    font-weight: 700;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(68, 61, 61);

    #has-read {
      align-self: flex-start;
    }
  }

  button {
    margin-top: auto;
    width: 100%;
    border-radius: 0;
    border: none;
    height: 30px;
    background-color: #ac2f44;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }

  button:hover {
    background-color: #c4364e;
  }
}

::backdrop {
  background-color: black;
  opacity: 0.5;
}

table {
  background-color: #7a7070;
  color: white;
  max-width: 800px;
  width: 100%;

  thead {
    font-weight: 700;
    font-size: 20px;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .has-read-cell {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      padding: 5px 10px;
      background-color: rgb(97, 97, 97);
      border: none;
      color: white;
    }

    button:hover {
      background-color: rgb(65, 65, 65);
    }
  }

  tbody tr:nth-child(even) {
    background-color: rgb(71, 71, 71);
  }

  tbody tr:nth-child(odd) {
    background-color: rgb(46, 46, 46);
  }

  tbody tr:hover {
    background-color: rgb(26, 26, 26);
  }
}
